<!doctype html>

<html ng-app='app'>

<head>
    <meta charset="utf-8">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="index.js"></script>
{{1 + 1}}


<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>-->

<!--<div class="container" ng-controller='storeController'>-->
<!--    <h3>Clothes</h3>-->

<!--    <table class="table table-hover">-->
<!--        <tr>-->
<!--            <td>Title</td>-->
<!--            <td>Price</td>-->
<!--            <td>Size</td>-->
<!--            <td>Action</td>-->
<!--        </tr>-->
<!--        <tbody>-->
<!--        <tr ng-repeat='p in clothesList'>-->
<!--            <td>{{p.title}}</td>-->
<!--            <td>{{p.price}}</td>-->
<!--            <td>{{p.size}}</td>-->
<!--            <td>-->
<!--                <button ng-click="addToCart(p.id)">Add to cart</button>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    <li class="nav-item" ng-show="isCartEmpty()" style="padding: 4px;">-->
<!--        <table class="table table-hover">-->
<!--            <tr>-->
<!--                <td>Title</td>-->
<!--                <td>Price</td>-->
<!--                <td>Size</td>-->
<!--                <td>Action</td>-->
<!--            </tr>-->
<!--            <tbody>-->
<!--            <tr ng-repeat="p in clothesList">-->
<!--                <td>{{p.title}}</td>-->
<!--                <td>{{p.price}}</td>-->
<!--                <td>{{p.size}}</td>-->
<!--                <td>-->
<!--                    <button ng-click="reduce(p.id)">-</button>-->
<!--                    <button ng-click="removeFromCart(p.id)">Remove</button>-->
<!--                    <button ng-click="increase(p.id)">+</button></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </li>-->

<!--</div>-->

</body>
</html>